@import '../vars.scss';

.primary-header__logo {
  height: 60px;
  width: 105px;
  align-items: center;
  display: flex;
  margin: auto;
  outline: 0;
  padding: $spacing_1_00;

  & svg {
    height: auto;
    width: 100%;
  }
}