@import '../vars.scss';

.filter-button {
  cursor: pointer;
  font-weight: 700;
  color: $color-primary;
  background: white;
  border: 1px solid $color-primary;
  border-radius: 4px;
  appearance: none;
  padding: 0;
  display: flex;
  flex: 1;
  height: 40px;
  justify-content: center;

  &:not(:last-of-type) {
    margin-right: 4px;
  }

  &:hover{
    background: $color-grey-200;
  }

  &--selected,
  &--selected:hover {
    color: white;
    background: $color-primary;
  }
}