@import '../vars.scss';

.race {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing_1_00;
  border-bottom: 1px solid $color-grey-200;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-grey-100;
    transition: background-color 0s ease;
  }

  &__type-icon {
    margin-right: $spacing_1_00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-secondary;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  &__event-location {
    flex-grow: 1;

    &__name {
      width: 60%;
    }

    &__venue {
      flex-grow: 1;
    }
  }

  &__event-time {
    width: 100px;
    text-align: right;
  }

}
