@import 'vars';

body {
  margin: 0;
  color: $color-text;
  font-size: 14px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
}

:focus {
  outline: 2px solid $color-tertiary;
  outline-offset: 1px;
}