$color-primary: #8935c0;
$color-secondary: #253b80;
$color-tertiary: #ff9400;

// material greys
$color-grey-50: #FAFAFA;
$color-grey-100: #F5F5F5;
$color-grey-200: #EEEEEE;
$color-grey-300: #E0E0E0;
$color-grey-400: #BDBDBD;
$color-grey-500: #9E9E9E;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-grey-900: #212121;

$color-text: $color-grey-900;

$spacing_1_00: 1rem;